body{
    background-color: #9c9c9c;
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.country-list{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 1700px;
    margin: 0px auto;
}

.nav-bar{
    width: 75%;
    height: 100px;
    margin: 10px auto;
    background-color: #343434;
    display: flex;
    color: #ffffff;
    font-size: 3rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.411);
}

.nav-bar > h1{
    margin-left: 20px;
}

.nav-bar > input{
    margin-right: 20px;
    padding: 10px;
    width: 300px;
}

.countries{
    width: 75%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.country{
    width: 25%;
    min-height: 50px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    padding: 20px 30px;
    margin: 15px 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 10px black;
    transition: 0.3s;
}

.country:hover{
    transform: scale(1.03);
}

.country > img{
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 2px solid rgb(0, 0, 0);
}

.country > h3{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.country > h5{
    text-align: center;
    font-size: 1rem;
    margin-bottom: 10px;
}
